#logo{

    height: 150px;


}
body{

    background-size: 100%;
    background-image: url(plano-de-fundo.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
#video{

    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    
}
#texto{

    text-align: center;
    margin-top: auto;
}
